body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(235, 210, 64);
}

h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 300px;
  margin: 10px;
  padding: 77px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h2 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
  font-family: "Comic Sans MS", cursive;
}

p {
  font-size: 16px;
  margin: 0 0 10px 0;
  font-family: "Comic Sans MS", cursive; /* шрифт комиксов */
}

.button {
  position: absolute;
  top: 1px;
  right: 4px;
  width: 109px;
  height: 89px;
  background-image: url("https://us.123rf.com/450wm/lineartestpilot/lineartestpilot1402/lineartestpilot140205133/26028334-bande-dessin%C3%A9e-symbole-d-explosion.jpg?ver=6");
  background-size: cover;
  text-align: center;
  line-height: 7;
  color: red;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive; /* шрифт комиксов */
  cursor: pointer;
  transition: transform 0.3s; /* Добавляем плавный переход */
}

.button:hover {
  transform: scale(1.1); /* Увеличиваем размер кнопки на 10% */
}

.stars {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.stars input {
  display: none;
}

.stars label {
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input:checked ~ label {
  color: orange;
}

.rating {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.rating .star {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}
.star.orange {
  color: orange;
}
.card span.rating-value {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}
